* {
  letter-spacing: 0.1em;
}

.z-1 {
  z-index: 1 !important;
}

.breadcrumb-item {
  a {
    color: $gray-400;
  }
}

.badge {
  background-color: $primary-300;

  &:hover {
    background-color: $primary-400;
    color: white;
  }
}

.badge-tag {
  left: 1rem;
  top: 0;
  transform: translateY(-50%);
  z-index: 2;
}

.badge-light {
  color: $accent-300;
  background-color: white;
  border: 1px solid $accent-100;
}

// 按鈕hover變色
.btn-primary-status {
  &:hover {
    background-color: $accent-300;
    border-color: $accent-300;
  }
}

.btn-gray-status {
  color: #52525B;
  &:hover {
    color: white;
    background-color: $gray-300;
    border-color: $gray-300;
  }
}