 <!-- footer-->
    <footer class="bg-primary-100">
      <div class="container py-5 border-top border-1 border-gray-300">
        <p class="text-center">©Vivre 2024 All right Reserved</p>
      </div>
    </footer>