<!-- footer-->
<footer class="bg-primary-100">
  <div class="container py-5 border-top border-1 border-gray-300">
    <p class="text-center">©Vivre 2024 All right Reserved</p>
  </div>
</footer>
<!-- 共用js -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>AOS.init();</script>